  /* GENERAL*/

  img {
      object-fit: cover;
  }

  .sectionPortada {
    margin: 5px;
    padding: 5px;
    border: solid 5px;
    color: $primario;
}

  /* PRODUCTOS*/

  .image {
      opacity: 1;
      width: 100%;
      transition: .5s ease;
      backface-visibility: hidden;
  }

 

