 /* INDEX*/
 .text {
     color: $primario;
     font-size: 30px;
     padding: 16px 32px;
 }

 .loremIndex {
     margin: 5px;
     padding: 5px;
     color: $primario;
     border: solid;
 }

 .parrafoIndex {
     margin: 5px;
     padding: 5px;
 }